<h1>This Is The Walker Show Page</h1>

<p>Dog Walker Name: <%= @walker.name %></p>
<p>Dog Walker Rating: <%= @walker.rating %></p>
<p>User Name: <%= @user.name %></p>
<p>Dog Name: <%= @dogs.name %></p>
<p>Dog Breed: <%= @dogs.breed %></p>
<p><%= @appointment.date %></p>
