<h1>Welcome to Dogwalker!</h1><br/>
<%= flash[:message] %>

<h2>Please Sign in below!</h2>
<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
<label>Username: </label>
<%= text_field_tag :username %><br/>
<label>Password:  </label>
<%= password_field_tag :password %><br/>
<%= submit_tag "SIGN IN"%>


<% end %>
<%= link_to 'New User? Create Account!', new_user_path %><br/>