<h1>Create an Account Below!</h1>

<%= flash[:message] %>

<%= form_for @user do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br/>

<br/>
<%= f.label :username %>
<%= f.text_field :username %><br/>

<%= f.label :password %>
<%= f.password_field :password %><br/>

<!-- <%= f.label 'Confirm Password' %>
<%= f.password_field :password_confirmation %> <br/> -->

<!-- <h2>Your Dog's Information Below</h2>

<%= f.fields_for  :dog do |p| %>
<%= p.label :name  %>
<%= p.text_field :name %><br/>
<%= p.label :breed %>
<%= p.text_field :breed %><br/>
<% end %> -->

<%=f.submit "Create New Account!"%>


<% end %>