<h1>Hello <%= @current_user.name %></h1>
<h2>You are Signed in as <%= @current_user.username %></h2>

<% if @current_user.dogs.length > 0 %>
    <h3>Your Dogs</h3>
    <% @current_user.dogs.each do |t| %>
        <label > Dog Name: </label><%= t.name %> <br>
        <label> Dog Breed: </label><%= t.breed %> <br>

        <p><%= link_to "Delete Dog", t, method: :delete, data: { confirm: "YOU REALLY WANNA DELETE DOG?" } %></p>
    <% end %>
<% end %>
<hr>

<br>
<% if @current_user.appointments.length > 0 %>
    <label><h3>Your Appointments</h3></label>

    <% @current_user.appointments.each do |t| %>
    Appointment for: <%= link_to t.date, edit_appointment_path(t) %> 

    <p><%= link_to "Delete Appointment", t, method: :delete, data: { confirm: "YOU REALLY WANNA DELETE APPOINTMENT?" } %></p>
    <hr>
    <% end %>
<% end %>


<h2><%= link_to "Upload Dog Information", new_dog_path %></h2>
<h2> <%= link_to "Book Appointment", new_appointment_path %></h2>
<% if @current_user.appointments.length > 0 %>
<h2><%=link_to "See Your Appointments", appointments_path(@user_appointments)%></h2><br/>
<% end %>



  

  





