<h1>Create an appointment</h1>
<%= form_for @appointment do |t| %>
<br>
<%= t.label :date %>
<%= t.text_field :date %>
<br>
<%= t.label :walker %>
<%= t.collection_select :walker, Walker.all, :id, :name %>
<br>
<%
<%= t.submit %>
<% end %>


